button{
  color:blue;
  border:2px grey solid;
  background: #73e773;
  font-size: 30px;
  letter-spacing: 4px;
  padding:5px;
}
button:active{
  background: yellow;
}
button:focus{
  background: red;
}
